* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v9_17 {
  width: 732px;
  height: 732px;
  background: url("../images/v9_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_16 {
  width: 732px;
  height: 732px;
  background: url("../images/v9_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_8 {
  width: 732px;
  height: 732px;
  background: rgba(0,164,175,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_2 {
  width: 442px;
  height: 447px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 142px;
  left: 145px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_4 {
  width: 405px;
  height: 93px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 344px;
  left: 164px;
}
.v2_4 {
  width: 405px;
  height: 93px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 470px;
  left: 164px;
}
.v1_8 {
  width: 405px;
  height: 93px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 218px;
  left: 164px;
}
.v1_10 {
  width: 93px;
  height: 25px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 326px;
  overflow: hidden;
}
.v1_11 {
  width: 93px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 168px;
  left: 326px;
  font-family: Rationale;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v2_2 {
  width: 182px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 168px;
  left: 175px;
  font-family: Rationale;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v3_5 {
  width: 199px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 251px;
  left: 267px;
  font-family: Rationale;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v3_6 {
  width: 199px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 370px;
  left: 267px;
  font-family: Rationale;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
